<p>
  <strong>First Name:</strong>
  <%= @user.first_name %>
</p>
<p>
  <strong>Last Name:</strong>
  <%= @user.last_name %>
</p>
<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>



<%= link_to 'Browse All Projects', projects_url %> <br>

<%= link_to "Create a New Project", new_project_url %> <br>

<h3>Your Current Projects</h3>

<% current_user.owned_projects.each do |project| %>
  <%=link_to project.name, project_path %> <br>
  <%= project.description %> <br>
<% end -%>

<h3>Your Backed Projects</h3>

<% current_user.backed_projects.each do |project| %>
  <%=link_to project.name, project_path %> <br>
  <%= project.description %> <br>
<% end -%>

<h3>Your Donations</h3>

<% current_user.donations.each do |donation| %>
  <%= donation.amount %> <br>
<% end -%>


