<%= link_to project_path(project.id) do %>

  <h3><%= project.name%></h3>
  <% end -%>
Description: <%= project.description %><br />
Goal: <%= project.goal%><br />
Start Date: <%= project.start_date%><br />
End Date: <%= project.end_date%> <br />
Current Funding: $<%= project.current_funding %> <br />
Amount Left: <%= project.funding_left %> <br>



<%= link_to "Show", project %>




