<h1>CrowdFUNder Projects</h1>

<%= link_to "Create a New Project!", new_project_url %>

<%= form_tag projects_path, method: :get, authentication: false, id: 'search-form' do %>
  <%= text_field_tag :search, params[:search], :placeholder => 'Search Project Name' %>
  <%= submit_tag "Search" %>
<% end -%>

<div id="projects">
  <%= render @projects %>
</div>
