<h1>CrowdFUNder Projects</h1>

<%= link_to "New Projects", "/projects/new" %>


<% @projects.each do |project| %>
<p>
Name: <%= project[:name]%><br />
Description: <%= project[:description]%><br />
Goal: <%= project[:goal]%><br />
Start Date: <%= project[:start_date]%><br />
End Date: <%= project[:end_date]%> <br />
Current Funding: $<%= project.current_funding %> <br />
<%= link_to "Show", project %>
</p>
<% end %>
